<div class="card text-center">
  <div class="card-header">
    Web Store
  </div>
  <div class="card-body">
    <h5 class="card-title">Place where you can buy and sell products</h5>
    <p class="card-text"></p>
    <div class="row mx-md-n5">
        <div class="col px-md-5"><div><button (click)="loginPage()" class="btn btn-primary">Sign in</button></div></div>
        <div class="col px-md-5"><div><button href="#" class="btn btn-primary">Sign up</button></div></div>
    </div>
  </div>
  <div class="card-footer text-muted">
    Footer text
  </div>
  <router-outlet></router-outlet>
</div>
